@import "./heder.css";
@import "./aside.css";
@import "./stayle.css";


body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: var(--aside-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

main::-webkit-scrollbar {
  height: 10px;
}

main::-webkit-scrollbar-track {
  background-color: var(--aside-color);
  border-radius: 5px;
}

main::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

main,
header {
  left: var(--aside-width);
  width: calc(100vw - var(--aside-width));
  transition: 0.5s;
}

main {
  position: relative;
  top: 80px;
  background-color: var(--panel-color);
  height: calc(140vh - 85px);
  overflow: auto;
}

.but {
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
}
.but button {
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  background-color: #eef2f5;
}

.but button:hover {
  background-color: #10cd45;
}

table {
  padding: 10px 0px 0px 40px;
  width: 100%;
}
thead {
  text-align: left;
  font-size: 25px;
}
tbody {
  font-size: 20px;
}
.im img {
  padding-right: 20px;
}
.im {
  display: flex;
  align-items: center;
}

.y {
  color: #10cd45;
}
.q {
  color: red;
}
th,
td {
  padding: 12px 30px;
}

@media (max-width:400px) {
  nav ~ main {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .but {
    gap: 10px;
  }
  .but h1 {
    font-size: 20px;
  }
}
